<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello</title>
</head>
<body>
<div>
  <h1>Oh Hai</h1>
  <p>Hello World</p>
  <p>Was I automatically deployed?</p>
  <form>
    <input type="file" accept="image/*" >
    <button type="submit">Shot!</button>
  </form>
</div>
<footer>
  <hr>
  <p>Footer</p>
</footer>
</body>
</html>
